.home-container {
    margin-top: 115px;
    margin-left: 120px;
}

.home-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
}

.home-content {
    margin-top: 25px;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
}

.button-margins {
    margin-top: 55px;
    margin-bottom: 265px;
}
