.search-page-container {
    margin: 55px 100px 75px 90px;
}

.form-container {
    background: #E6F7FF;
    border-radius: 16px;
    padding: 66px 480px 50px 95px;
}

.form-title {
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
    margin-bottom: 12px;
}

.button-icon {
    margin-top: 25px;
}

.response-container {
    display: flex;
    margin-top: 55px;
    margin-bottom: 75px;
    height: 387px;
    background: #F5F5F5;
    border-radius: 8px;
}

.image-button-container {
    padding-top: 25px;
    padding-left: 30px;
}

.user-image {
    width: 285px;
    height: 280px;
}

.informations-container {
    padding: 23px 25px 85px 45px;
    width: 100%;
}

.user-informations-container {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 6px;
    height: 249px;
}

.informations-container-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    color: #1890FF;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.see-profile-button {
    margin-top: 20px;
}

.numbered-information-container {
    display: flex;
    margin-bottom: 10px;
    margin-left: -8px;
}

.empty-container {
    height: 515px;
}
