.search-page-container {
    margin-top: 55px;
    margin-left: 90px;
    margin-right: 100px;
}

.form-container {
    height: 270px;
    background: #E6F7FF;
    border-radius: 16px;
    padding: 66px 480px 40px 95px;
}

.form-title {
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
    margin-bottom: 12px;
}

.button-icon {
    margin-top: 25px;
}
