.button-properties {
    height: 40px;
    width: 100px;
    background: #1890FF;
    border: none;
    border-radius: 4px;

    &:active {
        opacity: 0.5;
        transition: all 0.8s
    }
}

.button-text {
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
}
