.main-navbar {
    height: 62px;
    background: #1890FF;
}

.navbar-text {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-top: 15px;
}
